.container-equipe {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 70%;
  margin: auto;
}

.equipe-photos {
  width: 70%;
  margin: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin-bottom: 40px;
}

@media screen and (max-width: 539px) {
  .equipe-photos {
  flex-flow: column;
  }
}

.equipe-details {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
