.wrapper {
   padding-top: 30px;
   padding-bottom: 60px;
}

.banner {
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover !important;
  display: flex;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
}

.banner-pages {
  height: 60vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover !important;
  display: flex;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
}

.banner-content {
  width: 100%;
  h1 {
  color: white;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  }
}

.banner-content-pages {
  width: 100%;
  h1 {
  color: white;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  }
}


@media screen and (max-width: 539px) {
  .banner-content h1 {
  font-size: 40px;
  }
}

@media screen and (max-width: 330px) {
  .banner-content h1 {
  font-size: 20px;
  }
}

#text-accroche {
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #10263c;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  max-width: 90%;
}

.sabibaba-resume {
  flex: 0 0 60%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  color: #10263c;
  background-color: white;
  padding: 20px;
  clear: left;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  img {
    width: 100%;
  }
  a {
    font-family: 'Poppins', sans-serif;
    font-weight: 700px;
  }
}

.don-resume {
  flex: 0 0 35%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  color: #10263c;
  background-color: white;
  padding: 20px;
  clear: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  img {
    width: 100%;
  }
}

.title-section {
  color: #10263c;
  font-weight: bold;
  margin-bottom: 45px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700px;
}

.title-paragraph {
  color: #10263c;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.card-chiffres {
  background-color: #ececec;
  height: 200px;
  margin-bottom: 20px;
  p {
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
  }
}

.banner-chiffres {
  height: 40%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover !important;
  display: flex;
  align-items: center;
}

.img-entreprise {
  width: 100px;
}

@media screen and (max-width: 400px) {
  .img-entreprise {
  width: 80%;
  }
}
