.wrapper-mandela {
  width: 100%;
  position: relative;

}

@media screen and (max-width: 680px) {
  .wraper-mandela img {
  display: none;
  }
}

.btns {
  flex: 0 0 40%;
  display: flex;
  flex-flow: column;
  background-color: white;
  padding: 20px;
  justify-content: space-between;
  clear: left;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  height: 400px;
  img {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .btns {
  font-size: 13px;
  }
}

.wraper-carousel-btn {
  display: flex;
  flex-flow: row;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  height: 400px;
  margin-top: 30px;
}

.projet-container {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.projet-text {
  flex: 0 0 65%;
  h4 {
    text-align: justify;
    font-weight: lighter;
  }
}

.projet-photos {
  flex: 0 0 20%;
  display: flex;
  justify-content: flex-end;
}

.flex-photo {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.pourquoi-container {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.pourquoi-text {
  flex: 0 0 70%;
    h4 {
    text-align: justify;
  }
}

.pourquoi-video {
  flex: 0 0 30%;
}

.modal-content {
  padding: 40px;
  text-align: justify;
  position: relative;
  h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #132c4a;
    font-family: 'Poppins', sans-serif;
  }
  h4 {
    line-height: 22px;
    color: #132c4a;
  }
  img {
    position: absolute;
    top: 5px;
    left: 5px;
  }
}

.modal-content {
  border-radius: 2px;
  position: relative;
  button {
    position: absolute;
    top: 10px;
    right: 20px;
  }
}

.bs-example-modal-lg1 {
  background-color: rgba(19, 44, 74, 0.8);
}

.bs-example-modal-lg2 {
  background-color: rgba(19, 44, 74, 0.8);
}

.bs-example-modal-lg3 {
  background-color: rgba(19, 44, 74, 0.8);
}
