<div class="footer text-center">
  <div class="footer-content">
    <a href="/sabibaba">LE PROJET</a>
    <a href="/don">PARTICIPER</a>
    <a href="/equipe">QUI SOMMES-NOUS?</a>
    <a href="mailto:valerie-dousset@doceo-education.com">NOUS CONTACTER</a>
  </div>
</div>

<div class="container">
  <p style="font-weight: lighter; text-align: center; margin-top: 15px;">© 2017 Doceo-Education</p>
  <div class="text-center">
  <a style="font-size: 11px; margin: auto; text-decoration: none; color: black;" href="https://www.hopwork.fr/profile/ghislainchavanne2">Powered by Ghislain Chavanne</a>
  </div>
</div>
