<div class="footer">
  <div class="footer-content">
    <a href="/sabibaba">LE PROJET</a>
    <a href="/don">PARTICIPER</a>
    <a href="/equipe">QUI SOMMES-NOUS?</a>
    <a href="">NOUS CONTACTER</a>
  </div>
</div>

<div class="container">
  <p style="font-weight: lighter; text-align: center; margin-top: 15px;">Docéo participe à la définition des priorités et des tâches à financer, intervient sur les grandes orientations des projets qu’il finance, garantit la transparence dans l’utilisation des fonds. Docéo s’appuie sur des ONG présentes à Bombay (Educo, United Way of India) qui assurent un relai local.
  Les frais de fonctionnement de Docéo sont limités au strict minimum (en 2016, 98% des fonds collectés ont
  été consacrés au financement de l’école).</p>
  <div class="text-center">
  <a style="font-size: 11px; margin: auto; text-decoration: none; color: black;" href="https://www.hopwork.fr/profile/ghislainchavanne2">Powered by Ghislain Chavanne</a>
  </div>
</div>
