<div class="footer text-center">
  <div class="footer-content">
    <a href="/saibaba">Le Projet</a>
    <a href="/don">Participer</a>
    <a href="/equipe">Qui Sommes-nous?</a>
    <a href="mailto:valerie.dousset@doceo-education.com,martine.banzet@doceo-education.com">Nous contacter</a>
  </div>
</div>
