<div class="navbar-wagon navbar-wagon-fixed">
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag('logo.png') %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Button (call-to-action) -->
    <a href="/sabibaba" class="navbar-wagon-item navbar-button btn-hover btn">LE PROJET</a>
    <a href="/don" class="navbar-wagon-item navbar-button btn-hover btn">FAIRE UN DON</a>
    <!-- Text link -->
    <div class="language">
    <%= link_to locale: nil do %>
      <p style="font-size: 18px; color: white; margin-top: 8px;" class="navbar-wagon-item navbar-wagon-link">FR</p>
    <% end %>
    <!-- Text link -->
    <%= link_to locale: 'en' do %>
      <p style="font-size: 18px; color: white; margin-top: 8px;"  class="navbar-wagon-item navbar-wagon-link">EN</p>
    <% end %>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i style="color: white;" class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="/sabibaba">Le Projet</a></li>
        <li><a href="/don">Donner</a></li>
        <li><a href="/equipe">L'équipe Docéo</a></li>
      </ul>
    </div>
  </div>
</div>

