<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Button (call-to-action) -->
    <a href="/don" class="navbar-wagon-item navbar-button btn">FAIRE UN DON</a>
    <!-- Text link -->
    <div class="language">
    <a href="" style="font-size: 20px; color: white;" class="navbar-wagon-item navbar-wagon-link">FR</a>
    <!-- Text link -->
    <a href="" style="font-size: 20px; color: white;"  class="navbar-wagon-item navbar-wagon-link">EN</a>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i style="color: white;" class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="/sabibaba">Le Projet</a></li>
        <li><a href="/don">Donner</a></li>
        <li><a href="/equipe">L'équipe Docéo</a></li>
      </ul>
    </div>
  </div>
</div>
