<div class="banner-pages" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path('banner.jpg') %>');">
  <div class="banner-content text-center">
    <h1> Vous êtes une entreprise? <br><%= I18n.t('.title6') %></h1>
  </div>
</div>


<div class="wraper">
  <div class="container" style="padding-bottom: 50px;">
    <h2 class="partenaire-title text-center"><strong>L’Arrondi, une démarche qui s’inscrit dans votre politique de RSE .</h2>
      <h4 class="partenaire-title"></class><strong>Un programme solidaire innovant. </strong></h4>
      <h4>Comment faire l’Arrondi ? microdon.org, partenaire de Doceo (il faudrait pouvoir cliquer sur microdon.org et que cela renvoie au site). Microdon est une solution de don participatif, installée dans le quotidien des français, qui offre la possibilité de faire un micro-don à des associations de solidarité de manière simple et indolore dans les actes de la vie courante.</h4>
      <h4 class="partenaire-title"><strong>L’Arrondi aux caisses </strong></h4>
      <h4>https://www.larrondi.org <br>
          Fédérez vos clients et vos collaborateurs autour de Docéo, porteur de sens et de vos valeurs. Proposez à vos clients de faire un micro don en caisse au profit de Docéo. <br>
          4 bonnes raisons de vous engager : <br>
          Un impact social <br>
          Un engagement client <br>
          Une image solidaire <br>
          Une motivation et une fierté d’appartenance des salariés</h4>
      <h4 class="partenaire-title"><strong>L’Arrondi sur salaire (Don sur salaire)  </strong></h4>
      <h4>https://www.larrondi.org <br>
La solution de don participatif en entreprise : Offrez l’opportunité à chacun de vos collaborateurs de soutenir Docéo en réalisant chaque mois des micro-dons via un arrondi sur leur salaire. <br>
Une démarche qui s’inscrit dans votre politique RSE pour favoriser l’engagement solidaire en entreprise : <br>
Partagez votre engagement avec vos équipes en les fédérant autour d’un projet porteur de sens <br>
Développez l’attachement de vos collaborateurs à la culture de l’entreprise
</h4>
</div>

