<div class="banner-pages" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path('banner.jpg') %>');">
  <div class="banner-content">
    <h1 style="border-left: 1px solid white; padding-left: 15px;"> DOCÉO
    <br>L'équipe </h1>
  </div>
</div>

<div class="container">
  <div class="container-equipe">
    <h4 style="font-weight: lighter; text-align: justify; color: #484848;"> Docéo est un fond de dotation créé à Paris en 2016 par Olivier, Valérie Dousset et leurs enfants et conjointement à Londres par Frédéric et Martine Banzet sous forme d’un trust enregistré auprès de la Charity Commission du Royaume Uni. <br> <br>

    <strong>L’objet majeur de Docéo est de promouvoir l’éducation des plus défavorisés en leur offrant un enseignement de qualité.</strong> <br> <br>

    Toute notre action vise à leur donner les bases solides qui leur permettront d’affronter l’avenir avec confiance et d’accroitre ainsi leurs chances de réussite.</h4>
  </div>
</div>

<div class="container">
  <div class="equipe-photos">
    <div class="equipe-details text-center">
      <%= image_tag('val.png', size: "200x200") %>
      <h4 style="font-weight: lighter; color: #484848;">Valérie Dousset <br> valerie.dousset@doceo-education.com</h4>
    </div>
    <div class="equipe-details text-center">
      <%= image_tag('martine.png', size: "200x200") %>
      <h4 style="font-weight: lighter; color: #484848;">Martine Banzet <br> martine.banzet@doceo-education.com</h4>
    </div>
  </div>
</div>
