<div class="banner-pages" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path('banner.jpg') %>');">
  <div class="banner-content">
    <h1 style="border-left: 1px solid white; padding-left: 15px;"> Saibaba Path Municipal School
    <br>Le projet </h1>
  </div>
</div>

<div class="container">
  <div class="projet-container">
    <div class="projet-text">
    <h4 style="font-weight: lighter;">
      La priorité est de permettre aux élèves de continuer leur scolarité avec <strong>la création de nouvelles classes</strong> de niveau supérieur (grade 8 créé en 2017) <br>
      Nous souhaitons aussi <strong>optimiser leurs conditions d’apprentissage</strong> (modernisation des locaux, matériel informatique, sanitaires...) <br>
      Vos dons nous aideront également à développer de nouvelles activités pour les élèves : <strong>bibliothèque, cours d’art et de musique.</strong> <br><br>

      <strong>Pourquoi Saibaba ?</strong> <br>
      <strong>Saibaba, la réponse à un besoin :</strong> <br>
      En Inde, l'éducation est un enjeu majeur, un défi pour l'avenir de cet immense pays en plein essor économique. <br>
      Depuis 2010, l'Inde a adopté une loi sur le Droit à l'éducation garantissant à chaque enfant de 6 à 14 ans le droit à un enseignement gratuit et obligatoire. <br>
      Si l’accès à l’éducation est en nette amélioration, le niveau d’enseignement dans les écoles publiques laisse à désirer : peu d’équipements de base, un nombre insuffisant d’enseignants souvent peu qualifiés.
      Cette loi offre un droit à la scolarisation mais pas à… l'éducation !!</h4>
    </div>
    <div class="projet-photos">
      <div class="flex-photo">
        <%= image_tag('img1.png', size: "165x125") %>
        <%= image_tag('img2.png', size: "165x125") %>
        <%= image_tag('img3.png', size: "165x125") %>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-bottom: 30px;">
  <a style="text-decoration: none; cursor: pointer;" href="/don">
  <div class="btn-doceo">
  <h4>Faites un don</h4>
  </div>
  </a>
</div>
