// Your footer style

.footer {
  background: #132c4a;
  min-width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

.footer-content {
  width: 800px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: auto;
  font-size: 18px;
  a {
    color: white;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 630px) {
  .footer-content {
    font-size: 12px;
  }
}

@media screen and (max-width: 441px) {
  .footer-content {
    flex-flow: column;
  }
}

