body {
  margin-top: 0px;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 60px;
  font-weight: lighter;
  word-spacing: 18px;
  letter-spacing: 2px;
}

p {
    margin-top: 0px;
}

