.btn-doceo {
  border: 2px solid #9fd3c7;
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #132c4a;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  float: left;
}

.btn-doceo:hover {
  background-color: #9fd3c7;
  text-decoration: none;
  color: #132c4a;
  transition-duration: 0.3s;
}

.btn-doceo-alternatif {
  border: 2px solid #132c4a;
  background-color: #132c4a;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  width: auto;
  margin-top: 40px;
  float: left;
  focus: none;
}

.btn-doceo-alternatif:hover {
  background-color: #f4f4f4;;
  text-decoration: none;
  color: #132c4a;
  transition-duration: 0.3s;
}

@media screen and (max-width: 400px) {
  .btn-doceo {
  font-size: 12px;
  }
}
