


.btn-hover {
  display: inline-block;

  transition-duration: 0.3s;
  transition-property: background;


  transform: translateZ(0); /* Hack to improve performance on mobile/tablet devices */

  &:hover {
    background: #008489;
    color: white;
  }
}

.btn-doceo {
  border: 2px solid #008489;
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  color: #008489;
  margin-bottom: 30px;
}
